**About Book Crossing Dataset**<br>

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

**Objective**

This project entails building a Book Recommender System for users based on user-based and item-based collaborative filtering approaches.

#### Execute the below cell to load the datasets

In [44]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [45]:
#Loading data
books = pd.read_csv("books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

users = pd.read_csv('users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

ratings = pd.read_csv('ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'

### Check no.of records and features given in each dataset

In [46]:
# No. of records in each datatset
books.shape[0],users.shape[0], ratings.shape[0]

(271360, 278858, 1149780)

In [47]:
# No. of features in each datatset
books.shape[1],users.shape[1], ratings.shape[1]

(8, 3, 3)

## Exploring books dataset

In [48]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

### Drop last three columns containing image URLs which will not be required for analysis

In [49]:
books.drop(['imageUrlS','imageUrlM','imageUrlL'],axis =1, inplace = True)

In [50]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

**yearOfPublication**

### Check unique values of yearOfPublication

In [51]:
books['yearOfPublication'].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

As it can be seen from above that there are some incorrect entries in this field. It looks like Publisher names 'DK Publishing Inc' and 'Gallimard' have been incorrectly loaded as yearOfPublication in dataset due to some errors in csv file.


Also some of the entries are strings and same years have been entered as numbers in some places. We will try to fix these things in the coming questions.

### Check the rows having 'DK Publishing Inc' as yearOfPublication

In [52]:
ind = books[books['yearOfPublication'] == 'DK Publishing Inc'].index
ind

Int64Index([209538, 221678], dtype='int64')

In [53]:
ind1 = books[books['yearOfPublication'] == 'Gallimard'].index
ind1

Int64Index([220731], dtype='int64')

### Drop the rows having `'DK Publishing Inc'` and `'Gallimard'` as `yearOfPublication`

In [54]:
books.drop(ind, inplace = True)

In [55]:
books.drop(ind1, inplace = True)

In [56]:
books[books['yearOfPublication'] == 'DK Publishing Inc']

Empty DataFrame
Columns: [ISBN, bookTitle, bookAuthor, yearOfPublication, publisher]
Index: []

In [57]:
books[books['yearOfPublication'] == 'Gallimard']

Empty DataFrame
Columns: [ISBN, bookTitle, bookAuthor, yearOfPublication, publisher]
Index: []

### Change the datatype of yearOfPublication to 'int'

In [58]:
books['yearOfPublication'] = books['yearOfPublication'].astype('int64')

In [59]:
books.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication     int64
publisher            object
dtype: object

### Drop NaNs in `'publisher'` column

In [60]:
books.isna().sum(), books.shape[0]
# We have dropped the rows which has Nan values for bookAuthor and Publisher

(ISBN                 0
 bookTitle            0
 bookAuthor           1
 yearOfPublication    0
 publisher            2
 dtype: int64, 271357)

In [61]:
books.dropna(inplace = True)

In [62]:
books.isna().sum()

ISBN                 0
bookTitle            0
bookAuthor           0
yearOfPublication    0
publisher            0
dtype: int64

In [63]:
books.shape[0]

271354

## Exploring Users dataset

In [64]:
print(users.shape)
users.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

### Get all unique values in ascending order for column `Age`

In [65]:
pd.DataFrame(users['Age'].unique())[0].sort_values()

47       0.0
57       1.0
79       2.0
72       3.0
84       4.0
90       5.0
93       6.0
83       7.0
82       8.0
64       9.0
89      10.0
77      11.0
68      12.0
33      13.0
5       14.0
45      15.0
50      16.0
2       17.0
1       18.0
7       19.0
12      20.0
17      21.0
49      22.0
14      23.0
11      24.0
6       25.0
4       26.0
40      27.0
31      28.0
42      29.0
       ...
157    157.0
135    159.0
120    162.0
133    168.0
115    172.0
114    175.0
150    183.0
136    186.0
164    189.0
131    199.0
140    200.0
95     201.0
151    204.0
144    207.0
155    208.0
116    209.0
129    210.0
117    212.0
110    219.0
161    220.0
153    223.0
142    226.0
149    228.0
145    229.0
87     230.0
71     231.0
118    237.0
88     239.0
101    244.0
0        NaN
Name: 0, Length: 166, dtype: float64

Age column has some invalid entries like nan, 0 and very high values like 100 and above

### Values below 5 and above 90 do not make much sense for our book rating case...hence replace these by NaNs

In [68]:
users.loc[(users['Age']<5) | (users['Age']>90),'Age'].count()

1312

In [69]:
import numpy as np
users.loc[(users['Age']<5) | (users['Age']>90),'Age'] = np.nan

In [70]:
users[(users['Age']<5) | (users['Age']>90)]

Empty DataFrame
Columns: [userID, Location, Age]
Index: []

In [71]:
users.loc[(users['Age']<5) | (users['Age']>90),'Age'].count()

0

### Replace null values in column `Age` with mean

In [72]:
users['Age'].fillna(users['Age'].mean(), inplace = True)

In [73]:
users.isna().sum()

userID      0
Location    0
Age         0
dtype: int64

### Change the datatype of `Age` to `int`

In [74]:
users['Age'].astype('int64')

0         34
1         18
2         34
3         17
4         34
5         61
6         34
7         34
8         34
9         26
10        14
11        34
12        26
13        34
14        34
15        34
16        34
17        25
18        14
19        19
20        46
21        34
22        34
23        19
24        55
25        34
26        32
27        24
28        19
29        24
          ..
278828    34
278829    28
278830    34
278831    62
278832    25
278833    34
278834    18
278835    47
278836    34
278837    15
278838    34
278839    45
278840    34
278841    34
278842    28
278843    28
278844    34
278845    23
278846    34
278847    34
278848    23
278849    34
278850    33
278851    32
278852    17
278853    34
278854    50
278855    34
278856    34
278857    34
Name: Age, Length: 278858, dtype: int64

In [75]:
users.dtypes
# Age column shall have Float value as mean value is of type float

userID        int64
Location     object
Age         float64
dtype: object

In [76]:
print(sorted(users.Age.unique()))

[5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 34.72384041634689, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0]

## Exploring the Ratings Dataset

### check the shape

In [77]:
ratings.shape

(1149780, 3)

In [78]:
n_users = users.shape[0]
n_books = books.shape[0]
n_ratings = ratings.shape[0]
n_users,n_books, n_ratings

(278858, 271354, 1149780)

In [79]:
ratings.head(5)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Ratings dataset should have books only which exist in our books dataset. Drop the remaining rows

In [80]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [81]:
users.head()

   userID                            Location       Age
0       1                  nyc, new york, usa  34.72384
1       2           stockton, california, usa  18.00000
2       3     moscow, yukon territory, russia  34.72384
3       4           porto, v.n.gaia, portugal  17.00000
4       5  farnborough, hants, united kingdom  34.72384

In [82]:
ratings.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [84]:
ratingbooks_Left = pd.merge(ratings,books, how = 'left',on = 'ISBN')
ratingbooks_Left

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,publisher
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001.0,Heinle
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996.0,Warner Books
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999.0,Cambridge University Press
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001.0,Cambridge University Press
5,276733,2080674722,0,Les Particules Elementaires,Michel Houellebecq,1998.0,Flammarion
6,276736,3257224281,8,NaN,NaN,NaN,NaN
7,276737,0600570967,6,NaN,NaN,NaN,NaN
8,276744,038550120X,7,A Painted House,JOHN GRISHAM,2001.0,Doubleday
9,276745,342310538,10,NaN,NaN,NaN,NaN
10,276746,0425115801,0,Lightning,Dean R. Koontz,1996.0,Berkley Publishing Group
11,276746,0449006522,0,Manhattan Hunt Club,JOHN SAUL,2002.0,Ballantine Books
12,276746,0553561618,0,Dark Paradise,TAMI HOAG,1994.0,Bantam
13,276746,055356451X,0,Night Sins,TAMI HOAG,1995.0,Bantam
14,276746,0786013990,0,At the Edge,David Dun,2002.0,Pinnacle Books
15,276746,0786014512,0,Make Them Cry,Kevin O'Brien,2002.0,Pinnacle Books
16,276747,0060517794,9,Little Altars Everywhere,Rebecca Wells,2003.0,HarperTorch
17,276747,0451192001,0,How Stella Got Her Groove Back,Terry McMillan,1997.0,Signet Book
18,276747,0609801279,0,The Law of Love,Laura Esquivel,1997.0,Three Rivers Press (CA)
19,276747,0671537458,9,Waiting to Exhale,Terry McMillan,1995.0,Pocket
20,276747,0679776818,8,Birdsong: A Novel of Love and War,Sebastian Faulks,1997.0,Vintage Books USA
21,276747,0943066433,7,How to Deal With Difficult People,Rick Brinkman,1995.0,Careertrack Inc.
22,276747,1570231028,0,"Change Your Job, Change Your Life: High Impact...",Ronald L. Krannich,1999.0,Impact Publications
23,276747,1885408226,7,The Golden Rule of Schmoozing,Aye Jaye,1998.0,Listen &amp; Live Audio
24,276748,0747558167,6,Apricots on the Nile: A Memoir with Recipes,Colette Rossant,2002.0,Bloomsbury Publishing Plc
25,276748,3442437407,0,NaN,NaN,NaN,NaN
26,276751,033390804X,0,NaN,NaN,NaN,NaN
27,276751,3596218098,8,Reise nach Ixtlan. Die Lehre des Don Juan.,Carlos Castaneda,1998.0,"Fischer (Tb.), Frankfurt"
28,276754,0684867621,8,The Girl Who Loved Tom Gordon : A Novel,Stephen King,1999.0,Scribner
29,276755,0451166892,5,The Pillars of the Earth,Ken Follett,1996.0,Signet Book
...,...,...,...,...,...,...,...
1149750,276690,0312970188,0,The Astronaut's Wife,Robert Tine,1999.0,St. Martin's Press
1149751,276690,0440439884,0,Island of the Blue Dolphins,SCOTT O'DELL,1971.0,Random House Children's Books
1149752,276690,0590453653,0,"Welcome to Dead House (Goosebumps, No 1)",R. L. Stine,1995.0,Scholastic
1149753,276690,0590453688,0,"Say Cheese and Die! (Goosebumps, No 4)",R. L. Stine,1995.0,Scholastic
1149754,276690,0590455419,0,The Addams Family,Elizabeth Faucher,1991.0,Scholastic Paperbacks (Mm)
1149755,276690,0590464116,0,Camp Fear,Carol Ellis,1993.0,Scholastic Paperbacks (Mm)
1149756,276690,0590581066,0,Triplet Trouble and the Red Heart Race (Triple...,Debbie Dadey,1996.0,Scholastic Paperbacks
1149757,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997.0,Apple
1149758,276697,8445072897,0,NaN,NaN,NaN,NaN
1149759,276704,0152022597,0,Nobody's Son,Sean Stewart,2000.0,Magic Carpet Books
1149760,276704,0312873115,0,The Land of Laughs : A Novel,Jonathan Carroll,2001.0,Orb Books
1149761,276704,0345386108,6,Winter Moon,Dean R. Koontz,1995.0,Ballantine Books
1149762,276704,0380796155,5,White Abacus,Damien Broderick,1998.0,Eos
1149763,276704,0395404258,0,The Handmaid's Tale,Margaret Atwood,1986.0,Houghton Mifflin
1149764,276704,0425060772,0,Case of Lucy Bending,Lawrence Sanders,1983.0,Penguin Putnam~mass
1149765,276704,0440206529,0,Blessings,Belva Plain,1990.0,Dell
1149766,276704,0441007813,0,Obsidian Butterfly,Laurell K. Hamilton,2000.0,Ace Books
1149767,276704,0446353957,0,Mirror Image,Sandra Brown,1990.0,Warner Books
1149768,276704,0446605409,0,Plum Island,Nelson DeMille,1998.0,Warner Books
1149769,276704,059032120X,0,Sarah Bishop,Scott Odell,0.0,Scholastic Inc
1149770,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997.0,Vintage Books USA
1149771,276704,0743211383,7,Dreamcatcher,Stephen King,2001.0,Scribner
1149772,276704,080410526X,0,All I Really Need to Know,ROBERT FULGHUM,1989.0,Ivy Books
1149773,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997.0,Sterling Publishing
1149774,276704,0876044011,0,Edgar Cayce on the Akashic Records: The Book o...,Kevin J. Todeschi,1998.0,A.R.E. Press (Association of Research &amp; Enlig
1149775,276704,1563526298,9,Get Clark Smart : The Ultimate Guide for the S...,Clark Howard,2000.0,Longstreet Press
1149776,276706,0679447156,0,Eight Weeks to Optimum Health: A Proven Progra...,Andrew Weil,1997.0,Alfred A. Knopf
1149777,276709,0515107662,10,The Sherbrooke Bride (Bride Trilogy (Paperback)),Catherine Coulter,1996.0,Jove Books
1149778,276721,0590442449,10,Fourth Grade Rats,Jerry Spinelli,1996.0,Scholastic
1149779,276723,05162443314,8,NaN,NaN,NaN,NaN

In [102]:
ratingbooks_Left.isna().sum(), ratingbooks_Left.shape
# 118651 books in Ratings table there are no records in Books table. So we have to drop these rows.

(userID                    0
 ISBN                      0
 bookRating                0
 bookTitle            118651
 bookAuthor           118651
 yearOfPublication    118651
 publisher            118651
 dtype: int64, (1149780, 7))

In [103]:
ratingbooks_Left.dropna(inplace = True)

In [104]:
ratingbooks_Left.isna().sum(), ratingbooks_Left.shape

(userID               0
 ISBN                 0
 bookRating           0
 bookTitle            0
 bookAuthor           0
 yearOfPublication    0
 publisher            0
 dtype: int64, (1031129, 7))

In [119]:
ratings = ratingbooks_Left[['userID','ISBN','bookRating']]
ratings
# This is our revised ratings table where we have removed books which are not in books table

         userID        ISBN  bookRating
0        276725  034545104X           0
1        276726  0155061224           5
2        276727  0446520802           0
3        276729  052165615X           3
4        276729  0521795028           6
5        276733  2080674722           0
8        276744  038550120X           7
10       276746  0425115801           0
11       276746  0449006522           0
12       276746  0553561618           0
13       276746  055356451X           0
14       276746  0786013990           0
15       276746  0786014512           0
16       276747  0060517794           9
17       276747  0451192001           0
18       276747  0609801279           0
19       276747  0671537458           9
20       276747  0679776818           8
21       276747  0943066433           7
22       276747  1570231028           0
23       276747  1885408226           7
24       276748  0747558167           6
27       276751  3596218098           8
28       276754  0684867621           8
29       276755  0451166892           5
31       276762  034544003X           0
32       276762  0380000059           0
33       276762  0380711524           5
34       276762  0451167317           0
35       276762  0451454952           0
...         ...         ...         ...
1149748  276688  1580600506           0
1149749  276690  0064400557           0
1149750  276690  0312970188           0
1149751  276690  0440439884           0
1149752  276690  0590453653           0
1149753  276690  0590453688           0
1149754  276690  0590455419           0
1149755  276690  0590464116           0
1149756  276690  0590581066           0
1149757  276690  0590907301           0
1149759  276704  0152022597           0
1149760  276704  0312873115           0
1149761  276704  0345386108           6
1149762  276704  0380796155           5
1149763  276704  0395404258           0
1149764  276704  0425060772           0
1149765  276704  0440206529           0
1149766  276704  0441007813           0
1149767  276704  0446353957           0
1149768  276704  0446605409           0
1149769  276704  059032120X           0
1149770  276704  0679752714           0
1149771  276704  0743211383           7
1149772  276704  080410526X           0
1149773  276704  0806917695           5
1149774  276704  0876044011           0
1149775  276704  1563526298           9
1149776  276706  0679447156           0
1149777  276709  0515107662          10
1149778  276721  0590442449          10

[1031129 rows x 3 columns]

### Ratings dataset should have ratings from users which exist in users dataset. Drop the remaining rows

In [120]:
ratingUser_Left = pd.merge(ratings,users, how = 'left',on = 'userID')
ratingUser_Left

,userID,ISBN,bookRating,Location,Age
0,276725,034545104X,0,"tyler, texas, usa",34.72384
1,276726,0155061224,5,"seattle, washington, usa",34.72384
2,276727,0446520802,0,"h, new south wales, australia",16.00000
3,276729,052165615X,3,"rijeka, n/a, croatia",16.00000
4,276729,0521795028,6,"rijeka, n/a, croatia",16.00000
5,276733,2080674722,0,"paris, n/a, france",37.00000
6,276744,038550120X,7,"torrance, california, usa",34.72384
7,276746,0425115801,0,"fort worth, ,",34.72384
8,276746,0449006522,0,"fort worth, ,",34.72384
9,276746,0553561618,0,"fort worth, ,",34.72384
10,276746,055356451X,0,"fort worth, ,",34.72384
11,276746,0786013990,0,"fort worth, ,",34.72384
12,276746,0786014512,0,"fort worth, ,",34.72384
13,276747,0060517794,9,"iowa city, iowa, usa",25.00000
14,276747,0451192001,0,"iowa city, iowa, usa",25.00000
15,276747,0609801279,0,"iowa city, iowa, usa",25.00000
16,276747,0671537458,9,"iowa city, iowa, usa",25.00000
17,276747,0679776818,8,"iowa city, iowa, usa",25.00000
18,276747,0943066433,7,"iowa city, iowa, usa",25.00000
19,276747,1570231028,0,"iowa city, iowa, usa",25.00000
20,276747,1885408226,7,"iowa city, iowa, usa",25.00000
21,276748,0747558167,6,"jubail ind.-city, eastern province, saudi arabia",39.00000
22,276751,3596218098,8,"zuerich, zh, switzerland",34.72384
23,276754,0684867621,8,"alberta beach, alberta, canada",19.00000
24,276755,0451166892,5,"frankfurt am main, hessen, germany",32.00000
25,276762,034544003X,0,"duisburg, nordrhein-westfalen, germany",25.00000
26,276762,0380000059,0,"duisburg, nordrhein-westfalen, germany",25.00000
27,276762,0380711524,5,"duisburg, nordrhein-westfalen, germany",25.00000
28,276762,0451167317,0,"duisburg, nordrhein-westfalen, germany",25.00000
29,276762,0451454952,0,"duisburg, nordrhein-westfalen, germany",25.00000
...,...,...,...,...,...
1031099,276688,1580600506,0,"fort lee, new jersey, usa",34.72384
1031100,276690,0064400557,0,"wakeman, ohio, usa",43.00000
1031101,276690,0312970188,0,"wakeman, ohio, usa",43.00000
1031102,276690,0440439884,0,"wakeman, ohio, usa",43.00000
1031103,276690,0590453653,0,"wakeman, ohio, usa",43.00000
1031104,276690,0590453688,0,"wakeman, ohio, usa",43.00000
1031105,276690,0590455419,0,"wakeman, ohio, usa",43.00000
1031106,276690,0590464116,0,"wakeman, ohio, usa",43.00000
1031107,276690,0590581066,0,"wakeman, ohio, usa",43.00000
1031108,276690,0590907301,0,"wakeman, ohio, usa",43.00000
1031109,276704,0152022597,0,"cedar park, texas, usa",34.72384
1031110,276704,0312873115,0,"cedar park, texas, usa",34.72384
1031111,276704,0345386108,6,"cedar park, texas, usa",34.72384
1031112,276704,0380796155,5,"cedar park, texas, usa",34.72384
1031113,276704,0395404258,0,"cedar park, texas, usa",34.72384
1031114,276704,0425060772,0,"cedar park, texas, usa",34.72384
1031115,276704,0440206529,0,"cedar park, texas, usa",34.72384
1031116,276704,0441007813,0,"cedar park, texas, usa",34.72384
1031117,276704,0446353957,0,"cedar park, texas, usa",34.72384
1031118,276704,0446605409,0,"cedar park, texas, usa",34.72384
1031119,276704,059032120X,0,"cedar park, texas, usa",34.72384
1031120,276704,0679752714,0,"cedar park, texas, usa",34.72384
1031121,276704,0743211383,7,"cedar park, texas, usa",34.72384
1031122,276704,080410526X,0,"cedar park, texas, usa",34.72384
1031123,276704,0806917695,5,"cedar park, texas, usa",34.72384
1031124,276704,0876044011,0,"cedar park, texas, usa",34.72384
1031125,276704,1563526298,9,"cedar park, texas, usa",34.72384
1031126,276706,0679447156,0,"quebec, quebec, canada",18.00000
1031127,276709,0515107662,10,"mannington, west virginia, usa",38.00000
1031128,276721,0590442449,10,"providence, rhode island, usa",14.00000

In [121]:
ratingUser_Left['Location'].isnull().sum()
# All users in Ratings are present in Users dataframe.

0

### Consider only ratings from 1-10 and leave 0s in column `bookRating`

In [123]:
ratings.count()

userID        1031129
ISBN          1031129
bookRating    1031129
dtype: int64

In [124]:
ratings[(ratings['bookRating'] == 0)].count()

userID        647291
ISBN          647291
bookRating    647291
dtype: int64

In [125]:
ind = ratings[ratings['bookRating'] == 0].index

In [126]:
ratings.drop(ind, inplace = True)

In [127]:
ratings[(ratings['bookRating'] == 0)].count()

userID        0
ISBN          0
bookRating    0
dtype: int64

In [128]:
ratings.count()

userID        383838
ISBN          383838
bookRating    383838
dtype: int64

### Find out which rating has been given highest number of times

In [129]:
ratings['bookRating'].value_counts()
# Rating 8 is given highest no of times.

8     91803
10    71225
7     66401
9     60776
5     45355
6     31687
4      7617
3      5118
2      2375
1      1481
Name: bookRating, dtype: int64

### **Collaborative Filtering Based Recommendation Systems**

### For more accurate results only consider users who have rated atleast 100 books

In [130]:
hund = (ratings.groupby('userID').count() >= 100)

In [133]:
var = hund[hund['bookRating'] == True]

In [134]:
var
# Users which have rated atleast 100 books

        ISBN  bookRating
userID
2033    True        True
2110    True        True
2276    True        True
4017    True        True
4385    True        True
5582    True        True
6242    True        True
6251    True        True
6543    True        True
6575    True        True
7286    True        True
7346    True        True
8067    True        True
8245    True        True
8681    True        True
8890    True        True
10560   True        True
11676   True        True
11993   True        True
12538   True        True
12824   True        True
12982   True        True
13552   True        True
13850   True        True
14422   True        True
15408   True        True
15418   True        True
16634   True        True
16795   True        True
16966   True        True
...      ...         ...
255489  True        True
257204  True        True
258152  True        True
258185  True        True
258534  True        True
261105  True        True
261829  True        True
262998  True        True
264031  True        True
264082  True        True
264321  True        True
264525  True        True
265115  True        True
265313  True        True
265889  True        True
266056  True        True
266226  True        True
268110  True        True
268300  True        True
268932  True        True
269566  True        True
270713  True        True
271448  True        True
271705  True        True
273113  True        True
274061  True        True
274301  True        True
275970  True        True
277427  True        True
278418  True        True

[449 rows x 2 columns]

In [135]:
p = pd.DataFrame(var.index)
# Here we have extracted the userIDs which have rated atlest 100 books

In [136]:
p.count()
# No. of userid which have rated atleast 100 books.

userID    449
dtype: int64

In [137]:
temp_ratings = pd.merge(ratings,p, how = 'inner', on = 'userID')

In [138]:
ratings.count(), temp_ratings.count()

(userID        383838
 ISBN          383838
 bookRating    383838
 dtype: int64, userID        103269
 ISBN          103269
 bookRating    103269
 dtype: int64)

In [139]:
temp_ratings.groupby('userID').count()
# There are 449 users who rated atleast 100 books. Below is list of those users with No. of books rated by them

        ISBN  bookRating
userID
2033     129         129
2110     103         103
2276     196         196
4017     154         154
4385     212         212
5582     132         132
6242     134         134
6251     217         217
6543     174         174
6575     233         233
7286     105         105
7346     314         314
8067     129         129
8245     111         111
8681     144         144
8890     133         133
10560    102         102
11676   6943        6943
11993    111         111
12538    143         143
12824    109         109
12982    191         191
13552    221         221
13850    132         132
14422    105         105
15408    132         132
15418    106         106
16634    314         314
16795    959         959
16966    124         124
...      ...         ...
255489   118         118
257204   475         475
258152   107         107
258185   228         228
258534   193         193
261105   134         134
261829   222         222
262998   359         359
264031   113         113
264082   172         172
264321   273         273
264525   127         127
265115   206         206
265313   117         117
265889   227         227
266056   122         122
266226   124         124
268110   138         138
268300   121         121
268932   181         181
269566   205         205
270713   257         257
271448   129         129
271705   115         115
273113   156         156
274061   211         211
274301   161         161
275970   142         142
277427   146         146
278418   106         106

[449 rows x 2 columns]

In [140]:
temp_ratings
# This is Subset table of Ratings which has only those users who rated atleast 100 books.
# We shall be using this table for further recommendations

        userID        ISBN  bookRating
0       277427  002542730X          10
1       277427  003008685X           8
2       277427  0060006641          10
3       277427  0060542128           7
4       277427  0061009059           9
5       277427  0062507109           8
6       277427  0132220598           8
7       277427  0140283374           6
8       277427  014039026X           8
9       277427  0140390715           7
10      277427  0141439742           8
11      277427  0152050167          10
12      277427  0201000822          10
13      277427  0310435706          10
14      277427  0312944691           8
15      277427  0316776963           8
16      277427  0345413903          10
17      277427  0375408886           9
18      277427  0375751513           9
19      277427  0380702843           8
20      277427  0380791978           9
21      277427  038081904X           9
22      277427  0385424736           9
23      277427  0385486804           9
24      277427  0385503857           9
25      277427  0385504209           8
26      277427  039304016X           8
27      277427  0394738136           7
28      277427  0394862147           7
29      277427  0399149562           7
...        ...         ...         ...
103239  275970  0877017883          10
103240  275970  0896086011          10
103241  275970  0915230151           7
103242  275970  0945774109          10
103243  275970  0965328309          10
103244  275970  0971183562          10
103245  275970  1400060494           8
103246  275970  1551110792          10
103247  275970  1552093654           8
103248  275970  1555912400           6
103249  275970  1556704402          10
103250  275970  1561483516           8
103251  275970  1563052377           7
103252  275970  1572970065           6
103253  275970  1580628079           7
103254  275970  1583224890          10
103255  275970  1584690445          10
103256  275970  1584690453          10
103257  275970  1584690461          10
103258  275970  158469047X          10
103259  275970  1586210661           9
103260  275970  1586214349           8
103261  275970  1586632043          10
103262  275970  1592865089           7
103263  275970  1845170423           7
103264  275970  185649814X           7
103265  275970  1860462588           8
103266  275970  1886411077           6
103267  275970  3411086211          10
103268  275970  9626340762           8

[103269 rows x 3 columns]

### Generating ratings matrix from explicit ratings

#### Note: since NaNs cannot be handled by training algorithms, replace these by 0, which indicates absence of ratings

In [141]:
R_df = temp_ratings.pivot(index = 'userID', columns = 'ISBN', values = 'bookRating').fillna(0)
R_df

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6242,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6251,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6543,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6575,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7286,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7346,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8067,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8245,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8890,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10560,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
11993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12538,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12824,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13552,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13850,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14422,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16634,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16966,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257204,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
258152,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
258185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
258534,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
261105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
261829,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
264031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
264082,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
264321,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
264525,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
265115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
265313,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
265889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
266056,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
266226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
268110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
268300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
268932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
269566,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
270713,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
271448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
271705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
273113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
274061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
274301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Generate the predicted ratings using SVD with no.of singular values to be 50

In [142]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_df, k = 50)

In [143]:
sigma

array([147.92121613, 149.3438051 , 150.07400599, 152.20116297,
       152.87416391, 154.61308307, 154.80093432, 155.95760177,
       158.05646578, 159.21079484, 159.81670657, 162.01963916,
       162.77851768, 163.33054635, 166.02489324, 166.8162391 ,
       168.04972004, 170.77485167, 171.01325686, 173.29428498,
       174.57624968, 176.65724713, 178.61913749, 180.29517222,
       182.25079063, 184.10706957, 187.61687534, 189.75276623,
       190.96966388, 195.14643609, 199.83133018, 201.70083339,
       202.18713912, 203.48697581, 207.26449173, 209.92986988,
       213.23598777, 216.88280493, 224.26954726, 231.66186197,
       235.67095629, 249.9581775 , 252.02866425, 261.24756904,
       267.98197504, 281.0120779 , 293.69539562, 379.58327277,
       634.72875357, 680.30978318])

In [144]:
sigma = np.diag(sigma)
sigma

array([[147.92121613,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 149.3438051 ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        , 150.07400599, ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [  0.        ,   0.        ,   0.        , ..., 379.58327277,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
        634.72875357,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        , 680.30978318]])

In [145]:
all_users_predicted_ratings = np.dot(np.dot(U, sigma), Vt)

In [146]:
preds_df = pd.DataFrame(all_users_predicted_ratings, columns = R_df.columns)
preds_df

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
0,0.025341,-0.002146,-1.430820e-03,-0.002146,-0.002146,0.002971,-0.003920,0.007035,0.007035,0.012316,...,0.000180,0.000226,0.042081,-0.016804,-0.080028,0.004746,0.028314,0.000120,-0.001693,0.067503
1,-0.010012,-0.003669,-2.446297e-03,-0.003669,-0.003669,0.001075,0.001440,-0.003500,-0.003500,0.001612,...,-0.000363,0.000403,0.008142,0.001104,-0.029224,0.000999,0.002363,-0.000242,0.000029,-0.013059
2,-0.015054,-0.015457,-1.030440e-02,-0.015457,-0.015457,0.007281,-0.014033,0.011941,0.011941,0.011796,...,-0.000455,0.001907,0.047982,0.005737,0.117859,0.006945,0.003119,-0.000304,0.009009,-0.057692
3,-0.021499,0.035602,2.373467e-02,0.035602,0.035602,0.030307,0.024215,-0.001053,-0.001053,0.067579,...,0.002971,0.009912,0.086248,-0.008818,0.016154,0.028848,-0.000125,0.001981,0.031201,-0.046664
4,0.002077,-0.007965,-5.310012e-03,-0.007965,-0.007965,0.002947,0.003057,0.000231,0.000231,0.006080,...,0.002120,0.001597,-0.012181,0.009420,0.673459,0.002591,-0.008229,0.001413,0.004918,0.047773
5,-0.002046,0.018614,1.240949e-02,0.018614,0.018614,0.007966,0.022983,-0.005167,-0.005167,0.018298,...,0.002278,0.003343,0.029729,-0.013429,-0.069757,0.008082,0.003330,0.001519,0.008519,0.072081
6,-0.015920,0.020221,1.348068e-02,0.020221,0.020221,0.014194,0.016776,-0.002339,-0.002339,0.031493,...,0.002596,0.003667,0.030025,0.012455,0.030068,0.013586,0.001308,0.001731,0.014216,-0.004550
7,-0.010875,-0.010051,-6.700652e-03,-0.010051,-0.010051,0.023373,-0.014173,0.017087,0.017087,0.057111,...,0.000141,0.006781,0.121680,-0.000650,-0.319179,0.018844,0.045594,0.000094,0.014902,0.012477
8,0.040930,-0.030352,-2.023461e-02,-0.030352,-0.030352,0.018473,-0.031587,-0.013278,-0.013278,0.037860,...,0.002069,0.005255,0.070450,0.007803,-0.077213,0.014357,0.005920,0.001380,0.016526,-0.027260
9,0.023473,-0.004168,-2.778375e-03,-0.004168,-0.004168,0.054426,-0.015698,-0.011736,-0.011736,0.114924,...,0.006618,0.012665,0.172246,-0.010902,-0.175556,0.049872,0.012847,0.004412,0.051858,-0.023768
10,-0.005284,-0.003388,-2.258616e-03,-0.003388,-0.003388,0.001808,-0.002274,-0.002605,-0.002605,0.005172,...,0.000537,0.000348,0.005292,0.000018,-0.016939,0.002173,0.001779,0.000358,0.001925,-0.008713
11,0.042806,-0.012511,-8.340806e-03,-0.012511,-0.012511,0.046817,-0.022128,-0.021332,-0.021332,0.078194,...,-0.004221,0.005918,0.303487,-0.028825,0.149850,0.035975,0.040975,-0.002814,0.023914,-0.019810
12,-0.015425,-0.006874,-4.582765e-03,-0.006874,-0.006874,0.009067,-0.024665,-0.005957,-0.005957,0.004316,...,-0.001905,-0.000066,0.076718,-0.004849,-0.092058,0.004066,0.006657,-0.001270,0.003635,-0.043519
13,0.002309,0.003484,2.322532e-03,0.003484,0.003484,0.016482,0.001383,0.008327,0.008327,0.033957,...,0.001432,0.004073,0.055908,-0.000318,0.124501,0.015519,0.001619,0.000955,0.015125,0.046647
14,-0.018593,-0.000161,-1.070719e-04,-0.000161,-0.000161,0.008111,-0.000218,0.007471,0.007471,0.021616,...,0.003504,0.003661,0.024682,-0.001083,-0.061042,0.007852,0.005629,0.002336,0.007871,0.144291
15,-0.000188,-0.000001,-8.784680e-07,-0.000001,-0.000001,-0.000074,-0.000131,-0.000026,-0.000026,-0.000109,...,-0.000003,-0.000004,-0.000571,0.007924,-0.000636,-0.000072,-0.000070,-0.000002,-0.000025,-0.000420
16,0.021990,-0.022691,-1.512750e-02,-0.022691,-0.022691,0.011670,-0.024146,-0.002076,-0.002076,0.029348,...,0.000086,0.003560,0.048525,-0.015097,-0.066343,0.016404,0.007345,0.000057,0.011958,-0.010866
17,0.000303,-0.000009,-5.779314e-06,-0.000009,-0.000009,0.003823,-0.001239,0.000113,0.000113,-0.003210,...,0.002605,0.004250,-0.002538,9.994975,-0.012470,0.006168,-0.004599,0.001736,0.010495,0.004281
18,0.020472,0.000926,6.175820e-04,0.000926,0.000926,0.002387,0.000374,-0.002736,-0.002736,0.001270,...,-0.001162,0.000440,0.030836,-0.003900,0.212770,0.001447,0.005359,-0.000775,-0.001669,0.076944
19,0.034795,-0.008291,-5.527287e-03,-0.008291,-0.008291,0.008156,-0.002999,0.011413,0.011413,0.020802,...,0.000547,0.002439,0.023815,-0.000177,-0.055640,0.006927,0.002674,0.000365,0.008576,-0.049382
20,-0.006910,-0.001585,-1.056403e-03,-0.001585,-0.001585,0.001674,0.020122,0.010264,0.010264,0.002906,...,-0.000331,0.000378,0.038076,0.002410,-0.015987,0.001743,0.004185,-0.000220,0.000427,-0.002771
21,-0.014089,0.018299,1.219938e-02,0.018299,0.018299,0.002633,0.018995,-0.001823,-0.001823,0.002763,...,0.001071,0.003751,0.040607,-0.001305,0.092786,0.008641,0.009389,0.000714,0.000377,-0.078082
22,-0.025986,0.006893,4.595147e-03,0.006893,0.006893,0.005234,0.020356,-0.021182,-0.021182,-0.010308,...,0.001211,0.006127,0.056706,0.005393,0.080506,0.011105,-0.012564,0.000807,0.000769,-0.077208
23,0.033170,0.005968,3.978462e-03,0.005968,0.005968,0.008306,0.013560,-0.009984,-0.009984,0.017835,...,0.001453,0.001808,0.027059,-0.001112,-0.018525,0.006989,0.003730,0.000969,0.007247,-0.040393
24,-0.018539,-0.009831,-6.554258e-03,-0.009831,-0.009831,0.012553,-0.006269,-0.010220,-0.010220,0.025779,...,0.001517,0.002833,0.049675,0.002833,0.119497,0.012750,0.002606,0.001012,0.011252,-0.023161
25,0.027484,0.001391,9.272165e-04,0.001391,0.001391,0.003668,0.004004,-0.001851,-0.001851,0.012136,...,0.001864,0.001459,0.001860,0.013724,-0.026484,0.004334,0.002020,0.001243,0.004035,0.029125
26,0.013153,0.019955,1.330307e-02,0.019955,0.019955,0.002817,0.021709,-0.004082,-0.004082,0.004414,...,0.000180,0.001764,0.028844,-0.004390,-0.023082,0.005210,0.013806,0.000120,0.001774,0.002111
27,0.093028,-0.035252,-2.350117e-02,-0.035252,-0.035252,0.020823,0.091772,-0.010874,-0.010874,0.057814,...,0.007080,0.012270,0.110241,-0.034227,-0.135952,0.025122,-0.013901,0.004720,0.035949,0.092406
28,0.016865,0.001295,8.636081e-04,0.001295,0.001295,0.023142,0.098495,-0.003312,-0.003312,0.082806,...,0.006323,-0.010635,-0.161954,-0.007290,-0.105061,-0.019859,-0.031888,0.004216,-0.009349,0.033447
29,0.037046,-0.004039,-2.692913e-03,-0.004039,-0.004039,0.001343,-0.003041,-0.001699,-0.001699,0.002390,...,0.000172,0.001379,-0.001728,0.007387,-0.007930,0.001137,0.002330,0.000115,0.000950,0.022628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,0.013294,-0.003049,-2.032732e-03,-0.003049,-0.003049,0.014845,0.007952,-0.006781,-0.006781,0.032985,...,0.002867,0.004824,0.068829,0.005941,-0.012319,0.014990,0.004524,0.001911,0.014120,-0.009470
420,-0.024249,0.000178,1.187523e-04,0.000178,0.000178,-0.011802,-0.038603,-0.006204,-0.006204,-0.024847,...,-0.003631,-0.010199,-0.072533,0.003381,0.014438,-0.011548,-0.007839,-0.002420,0.011470,-0.037132
421,0.022085,-0.008126,-5.417162e-03,-0.008126,-0.008126,0.002550,0.004916,-0.000928,-0.000928,0.008144,...,0.001640,0.001965,0.011100,0.003866,-0.037563,0.002883,0.002321,0.001094,0.002919,0.024681
422,-0.000075,0.000885,5.899158e-04,0.000885,0.000885,0.001980,-0.009282,-0.002404,-0.002404,-0.004632,...,-0.000386,0.000851,0.022219,0.017277,-0.078108,0.003086,0.003009,-0.000258,0.003031,-0.036655
423,-0.028939,-0.001967,-1.311575e-03,-0.001967,-0.001967,0.025184,0.045022,0.028470,0.028470,-0.003457,...,-0.003018,0.003560,0.410562,-0.004801,-0.074618,0.016540,0.010581,-0.002012,0.009104,-0.058207
424,-0.005339,0.001953,1.302109e-03,0.001953,0.001953,0.000871,0.004642,0.001860,0.001860,0.004210,...,0.000371,0.000588,0.001809,0.009471,-0.008351,0.001049,0.001240,0.000248,0.001153,-0.010871
425,-0.023438,-0.013937,-9.291012e-03,-0.013937,-0.013937,0.020549,0.004501,0.002042,0.002042,0.035457,...,0.000923,0.006018,0.114764,-0.011654,0.296411,0.019287,0.004302,0.000615,0.022232,-0.101078
426,0.004881,0.033311,2.220729e-02,0.033311,0.033311,0.010030,0.026815,-0.002883,-0.002883,0.020725,...,0.005155,0.007301,0.011215,0.011764,-0.060451,0.013181,-0.000783,0.003437,0.019721,0.092897
427,-0.004095,-0.015783,-1.052181e-02,-0.015783,-0.015783,0.010167,0.001837,0.007856,0.007856,0.023425,...,0.000306,0.002522,0.027082,0.027371,0.211808,0.009459,-0.001551,0.000204,0.008404,-0.034662
428,-0.004114,0.004492,2.994612e-03,0.004492,0.004492,0.000107,0.007921,-0.001180,-0.001180,-0.002403,...,-0.000497,0.000302,0.002368,0.011561,0.066832,0.001293,-0.003729,-0.000332,0.001869,-0.015959
429,0.087700,-0.004218,-2.811844e-03,-0.004218,-0.004218,0.005028,0.005051,0.005227,0.005227,0.011888,...,0.000755,0.002131,0.029771,0.004236,-0.015950,0.005280,0.005927,0.000503,0.004711,0.031353
430,-0.018942,0.000377,2.516149e-04,0.000377,0.000377,0.006665,-0.001596,0.011613,0.011613,0.015270,...,-0.001106,0.001056,0.042233,0.002610,-0.017290,0.006098,0.013319,-0.000737,0.004431,-0.011908
431,-0.018028,-0.010705,-7.136760e-03,-0.010705,-0.010705,0.020859,-0.028139,-0.009990,-0.009990,0.029419,...,-0.002039,0.000675,0.144862,0.004303,0.073201,0.016091,0.015885,-0.001360,0.014920,-0.072823
432,0.023460,-0.015269,-1.017963e-02,-0.015269,-0.015269,0.001697,0.010803,0.003614,0.003614,0.005274,...,0.000956,0.002378,0.030777,0.010524,-0.041583,0.004566,0.009872,0.000637,0.000370,0.055420
433,-0.003320,-0.014015,-9.343269e-03,-0.014015,-0.014015,0.009703,-0.026997,-0.009375,-0.009375,0.016141,...,-0.002618,-0.003048,0.039421,0.005625,-0.122771,0.007347,0.024123,-0.001745,0.003088,-0.008681
434,-0.014665,-0.005670,-3.780235e-03,-0.005670,-0.005670,0.010396,-0.002267,0.000710,0.000710,0.021499,...,-0.000049,0.001795,0.040013,0.027996,0.056921,0.009665,0.004803,-0.000033,0.009102,-0.048692
435,0.004222,0.043186,2.879091e-02,0.043186,0.043186,0.006178,0.048544,0.005531,0.005531,0.016124,...,0.001157,0.002592,0.033964,-0.002984,-0.027766,0.007124,0.006349,0.000772,0.005309,0.002811
436,0.010294,-0.004367,-2.911182e-03,-0.004367,-0.004367,0.016914,-0.013996,0.005352,0.005352,0.033665,...,0.003369,0.002336,0.024757,0.018975,0.016864,0.014594,0.005901,0.002246,0.010803,-0.054906
437,-0.000455,-0.007946,-5.297431e-03,-0.007946,-0.007946,0.000162,0.032264,0.018156,0.018156,0.003199,...,0.002453,0.001784,0.035162,-0.022398,0.180701,0.000506,0.002644,0.001635,-0.002284,-0.048111
438,0.022390,0.007448,4.965636e-03,0.007448,0.007448,0.004841,0.014274,-0.001370,-0.001370,0.011960,...,-0.000035,0.000960,0.021946,0.019887,0.040873,0.004664,0.004952,-0.000024,0.002700,0.004585
439,-0.013891,-0.008549,-5.699054e-03,-0.008549,-0.008549,0.006254,-0.014032,-0.004751,-0.004751,0.015693,...,-0.000017,0.000782,0.034847,-0.002897,-0.075887,0.006463,0.012457,-0.000011,0.001502,0.068761
440,-0.042651,-0.007464,-4.975924e-03,-0.007464,-0.007464,0.040642,0.000613,0.012554,0.012554,0.094619,...,0.004157,0.016498,0.132277,-0.016607,-0.157312,0.044825,0.005433,0.002772,0.047248,0.042800
441,-0.026051,-0.030714,-2.047582e-02,-0.030714,-0.030714,0.023063,-0.025228,0.035224,0.035224,0.041394,...,0.002976,0.004403,0.072124,0.005870,0.039099,0.021811,0.010047,0.001984,0.016899,-0.011375
442,0.012979,0.069724,4.648285e-02,0.069724,0.069724,0.009807,0.067403,0.008856,0.008856,0.026001,...,0.002493,0.002505,0.054989,-0.000041,0.012823,0.015039,0.018400,0.001662,0.005873,0.140539
443,-0.000171,-0.002851,-1.900761e-03,-0.002851,-0.002851,-0.000736,-0.005841,-0.003616,-0.003616,0.000084,...,-0.000134,-0.000001,-0.071548,0.011946,0.219744,0.000189,-0.007808,-0.000090,0.000095,-0.013892
444,-0.013295,-0.002811,-1.873987e-03,-0.002811,-0.002811,-0.023810,0.250610,0.005716,0.005716,-0.028896,...,0.001848,-0.007856,0.062856,-0.001133,0.128216,-0.020683,0.007356,0.001232,-0.024207,0.100999
445,0.017231,0.020953,1.396854e-02,0.020953,0.020953,0.016303,0.045661,0.017187,0.017187,0.009598,...,-0.002726,0.002173,0.238855,-0.003137,0.058286,0.014197,0.010563,-0.001817,0.008224,-0.071487
446,0.003814,-0.011141,-7.427188e-03,-0.011141,-0.011141,0.007776,-0.012431,0.005990,0.005990,0.022312,...,0.002610,0.003690,0.015291,0.021539,-0.051916,0.008105,0.005769,0.001740,0.008526,0.126062
447,0.078020,-0.024439,-1.629238e-02,-0.024439,-0.024439,0.011760,-0.018174,-0.005821,-0.005821,0.027239,...,0.000453,0.003468,0.060661,0.010400,-0.074412,0.012083,0.008547,0.000302,0.010178,0.035976
448,0.008056,0.011625,7.749830e-03,0.011625,0.011625,-0.000409,0.011970,0.011165,0.011165,-0.000434,...,0.000129,-0.000184,-0.002543,0.002639,-0.003843,0.000601,0.001378,0.000086,-0.000324,0.007476

### Take a particular user_id

### Lets find the recommendations for user with id `2110`

#### Note: Execute the below cells to get the variables loaded

In [198]:
def recommend_movies(predictions_df, userID, books_df, original_ratings_df,rowid, num_recommendations = False ):
    user_row_number = rowid - 1  #UserID starts at zero not 1
    sorted_user_predictions = predictions_df.loc[user_row_number].sort_values(ascending = False)
    
    user_data = original_ratings_df[original_ratings_df.userID == (userID)]
    user_full = (user_data.merge(books_df, how = 'left', left_on = 'ISBN', right_on = 'ISBN').
                sort_values(['bookRating'], ascending = False)
                )
    print('User {0} has already rated {1} books.'.format(userID, user_full.dropna().shape[0]))
    print('Recommending the highest {0} predicted ratings books not already rated.'.format(num_recommendations))
    
     
    recommendations = (books_df[~books_df['ISBN'].isin(user_full['ISBN'])].
                      merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
                           left_on = 'ISBN',
                           right_on = 'ISBN').
                      rename(columns = {user_row_number: 'Predictions'}).
                      sort_values('Predictions', ascending = False).
                      iloc[:num_recommendations, :-1])
                       
    return user_full, recommendations, sorted_user_predictions, user_data, user_full

In [199]:
already_rated, predictions, sorted_user_predictions, user_data, user_full = recommend_movies(preds_df, 2110, books, temp_ratings, 2, 10)
# We used user_id = 2, because this user 2110 is at 2nd row in temp_ratings table.

User 2110 has already rated 103 books.
Recommending the highest 10 predicted ratings books not already rated.

In [55]:
userID = 2110

In [56]:
user_id = 2 #2nd row in ratings matrix and predicted matrix

In [149]:
predictions
# Recommendation for user 2110

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
1192,0345370775,Jurassic Park,Michael Crichton,1999,Ballantine Books
6184,0345384911,Crystal Line,Anne McCaffrey,1993,Del Rey Books
5458,043935806X,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic
455,044021145X,The Firm,John Grisham,1992,Bantam Dell Publishing Group
2031,0451151259,Eyes of the Dragon,Stephen King,1988,Penguin Putnam~mass
5383,0439139597,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,Scholastic
3413,0439064872,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000,Scholastic
976,0380759497,Xanth 15: The Color of Her Panties,Piers Anthony,1992,Eos
2435,0345353145,Sphere,MICHAEL CRICHTON,1988,Ballantine Books
6048,0451167317,The Dark Half,Stephen King,1994,Signet Book

### Get the predicted ratings for userID `2110` and sort them in descending order

In [150]:
sorted_user_predictions

ISBN
059035342X    0.682444
0345370775    0.368946
0345384911    0.333624
043935806X    0.333209
044021145X    0.329336
0451151259    0.313295
0439139597    0.305088
0439064872    0.290587
0380759497    0.278563
0345353145    0.250941
0451167317    0.249254
0439136369    0.242676
0618002235    0.239957
0880389117    0.239552
0618002227    0.239242
0451160525    0.234959
0446310786    0.231819
0451173317    0.229402
0440213525    0.228038
0060392452    0.227935
0439136350    0.226968
0345335287    0.223613
1560768304    0.221496
0441845630    0.221496
0451156609    0.221396
0451180232    0.221054
0345317580    0.219552
0451142934    0.218949
0312980140    0.218348
0670835382    0.216858
                ...
0553576925   -0.042664
0688088686   -0.043207
0786000899   -0.043301
0553567683   -0.043553
042518630X   -0.043825
0671673661   -0.044025
0345361571   -0.044076
042517770X   -0.044668
0446603090   -0.044738
0684195984   -0.047424
0684195976   -0.047690
0679405283   -0.047838
0553801430   -0.048401
0451403789   -0.048595
0385316895   -0.048595
0385311109   -0.048595
042518109X   -0.048705
0399142851   -0.049460
0553285785   -0.050022
0553295977   -0.050099
0743206029   -0.052753
0399140093   -0.052800
0688142877   -0.053489
0425191281   -0.054608
0553564528   -0.055067
0671744577   -0.056397
0399141383   -0.057334
0553569783   -0.060981
0515127833   -0.061348
0553561618   -0.067188
Name: 1, Length: 66572, dtype: float64

### Create a dataframe with name `user_data` containing userID `2110` explicitly interacted books

In [151]:
user_data
# The userID 2110 rated 103 books

     userID        ISBN  bookRating
381    2110  0060987529           7
382    2110  0064472779           8
383    2110  0140022651          10
384    2110  0142302163           8
385    2110  0151008116           5
386    2110  015216250X           8
387    2110  0345260627          10
388    2110  0345283554          10
389    2110  0345283929          10
390    2110  034528710X          10
391    2110  0345307674          10
392    2110  0345314255          10
393    2110  0345317580          10
394    2110  0345335287          10
395    2110  0345362276          10
396    2110  0345375580          10
397    2110  0345423038           6
398    2110  0373614845           6
399    2110  0373614896           7
400    2110  037361490X           5
401    2110  0373619472           7
402    2110  0373619499           7
403    2110  0373619502           7
404    2110  0373638078           9
405    2110  0373638167           9
406    2110  0373642849           6
407    2110  0373642857           6
408    2110  0373642911           7
409    2110  037364292X           7
410    2110  0373765649           8
..      ...         ...         ...
454    2110  0671527215           9
455    2110  0671529714           7
456    2110  0671532642           8
457    2110  067166865X          10
458    2110  0671695304          10
459    2110  0671751174          10
460    2110  0671802283           8
461    2110  0671803530           8
462    2110  0679023755           8
463    2110  0679805265          10
464    2110  0679811761          10
465    2110  0688047211           1
466    2110  068808527X           8
467    2110  0698119916           8
468    2110  0743486625          10
469    2110  0786807555           7
470    2110  0786814241           8
471    2110  0803298145           9
472    2110  0806512318           6
473    2110  0807842613           9
474    2110  0812505042          10
475    2110  0886774500           9
476    2110  0898863538           8
477    2110  093317490X           7
478    2110  097089726x          10
479    2110  1558504184           8
480    2110  1561008931           7
481    2110  1565111575          10
482    2110  1570420564          10
483    2110  1572970944           6

[103 rows x 3 columns]

In [152]:
user_data.head()

     userID        ISBN  bookRating
381    2110  0060987529           7
382    2110  0064472779           8
383    2110  0140022651          10
384    2110  0142302163           8
385    2110  0151008116           5

In [153]:
user_data.shape

(103, 3)

### Combine the user_data and and corresponding book data(`book_data`) in a single dataframe with name `user_full_info`

In [154]:
user_full

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,publisher
76,2110,067166865X,10,STAR TREK YESTERDAY'S SON (Star Trek: The Orig...,A.C. Crispin,1988,Audioworks
52,2110,0590109715,10,"The Andalite Chronicles (Elfangor's Journey, A...",Katherine Applegate,1997,Apple
64,2110,0590629786,10,"The Visitor (Animorphs, No 2)",K. A. Applegate,1996,Scholastic
63,2110,0590629778,10,"The Invasion (Animorphs, No 1)",K. A. Applegate,1996,Scholastic
61,2110,059046678X,10,The Yearbook,Peter Lerangis,1994,Scholastic
55,2110,059035342X,10,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,Arthur A. Levine Books
93,2110,0812505042,10,The Time Machine,H. G. Wells,1995,Tor Books
54,2110,0590213040,10,The Andalite's Gift (Animorphs : Megamorphs 1),K. A. Applegate,1997,Scholastic
53,2110,0590109960,10,Watchers #1: Last Stop,Peter Lerangis,1998,Scholastic
82,2110,0679805265,10,Long Shot (Three Investigators Crimebusters (P...,Megan Stine,1993,Random House Children's Books
97,2110,097089726x,10,Jasper,Michelle Groce,2003,Novello Festival Press
83,2110,0679811761,10,The Secret of Terror Castle (Three Investigato...,Robert Arthur,1991,Random House Children's Books
31,2110,0380570009,10,How to Talk So Kids Will Listen and Listen So ...,Adele Faber,1991,Back Bay Books
46,2110,0486270718,10,The Invisible Man (Dover Thrift Editions),H. G. Wells,1992,Dover Publications
87,2110,0743486625,10,Damnation Alley,Roger Zelazny,2004,I Books
36,2110,0394843509,10,Reel Trouble (The Three Investigators Crimebus...,G. H. Stone,1989,Random House Children's Books
42,2110,0441000150,10,Quantum Leap: The Wall (Quantum Leap),Ashley McConnell,1994,Ace Books
77,2110,0671695304,10,"FOREVER : A Novel of Good and Evil, Love and Hope",Judy Blume,1989,Pocket
40,2110,0439240700,10,"The Power of Two (T*Witches, No 1)",H. B. Gilmour,2001,Apple
65,2110,0590629794,10,"The Encounter (Animorphs , No 3)",K. A. Applegate,1996,Scholastic
66,2110,0590629808,10,"The Message (Animorphs , No 4)",K. A. Applegate,1996,Scholastic
10,2110,0345307674,10,Return of the Jedi (Star Wars),James Kahn,1983,Del Rey Books
2,2110,0140022651,10,Journey to the Center of the Earth,Jules Verne,1965,Penguin Books
78,2110,0671751174,10,First Evil (Fear Street Cheerleaders 1) : Firs...,R.L. Stine,1992,Simon Pulse
101,2110,1570420564,10,A Dream Is a Wish Your Heart Makes: My Story,Annette Funicello,1994,Time Warner Audio Books
6,2110,0345260627,10,Splinter of the Mind's Eye,Alan Dean Foster,1978,Ballantine Books
7,2110,0345283554,10,Han Solo at Stars' End,Daley,1979,Not Avail
9,2110,034528710X,10,Han Solo and the Lost Legacy,Brian Daley,1980,Del Rey Books
8,2110,0345283929,10,Empire Strikes Back Wars,Donald F Glut,1980,Ballantine Books
11,2110,0345314255,10,Sword of Shannara,Terry Brooks,1995,Del Rey Books
...,...,...,...,...,...,...,...
38,2110,0439176824,8,"The Fall (The Seventh Tower, Book 1)",Garth Nix,2000,Scholastic
99,2110,1561008931,7,Knee Deep in Paradise (Nova Audio Books),Brett Butler,1996,Brilliance Audio - Trade
96,2110,093317490X,7,The Yucatan: A Guide to the Land of Maya Myste...,Antoinette May,1993,Wide World Publishing
88,2110,0786807555,7,Under a War-Torn Sky,Laura Malone Elliott,2001,Hyperion Books for Children
0,2110,0060987529,7,Confessions of an Ugly Stepsister : A Novel,Gregory Maguire,2000,Regan Books
74,2110,0671529714,7,HIGH TIDE FEAR STREET SUPERCHILLER 12,R.L. Stine,1997,Simon Pulse
33,2110,0394553284,7,One Knee Equals Two Feet (And Everything Else ...,John Madden,1986,Villard Books
18,2110,0373614896,7,Strike and Retrieve (Super Bolan #89),Don Pendleton,2003,Gold Eagle
20,2110,0373619472,7,Freedom Watch (Stony Man #63),Don Pendleton,2003,Gold Eagle
21,2110,0373619499,7,Stony Man: The Third Protocol,Don Pendleton,2003,Gold Eagle
22,2110,0373619502,7,Axis Of Conflict The Terror File,James Axler,2003,Gold Eagle
69,2110,0590880780,7,"Them (Remnants, 3)",K. A. Applegate,2001,Scholastic
28,2110,037364292X,7,Savage Game (Executioner #292),Don Pendleton,2003,Gold Eagle
32,2110,038513097x,7,Mary Frampton and friends rock and roll recipes,Mary Frampton,1980,Anchor Books
27,2110,0373642911,7,Blood Trade (The Executioner #291),Don Pendleton,2003,Gold Eagle
34,2110,0394563131,7,One Size Doesn't Fit All,John Madden,1988,Random House Inc
62,2110,059047054X,7,Claudia and the Clue in the Photograph (Baby-S...,Ann M. Martin,1994,Scholastic
41,2110,0440920221,6,Dracula Go Home,Kin Platt,1985,Bantam Books (Mm)
91,2110,0806512318,6,The Worst Rock-And-Roll Records of All Time: A...,Jimmy Guterman,1991,Carol Publishing Corporation
26,2110,0373642857,6,"Final Strike (Executioner #285) (Executioner,...",Don Pendleton,2002,Gold Eagle
25,2110,0373642849,6,The Executioner: Devil's Army,Don Pendleton,2002,Gold Eagle
68,2110,0590880748,6,"Destination Unknown (Remnants, 2)",K. A. Applegate,2001,Scholastic
17,2110,0373614845,6,Mack Bolan: Dark Truth,Don Pendleton,2002,Gold Eagle
16,2110,0345423038,6,The Wild Road,Gabriel King,1999,Del Rey Books
102,2110,1572970944,6,Quantum Leap: The Novel (Quantum Leap),Ashley McConnell,1992,Berkley Publishing Group
49,2110,0515134384,5,The Cat Who Went Up the Creek,Lilian Jackson Braun,2003,Jove Books
19,2110,037361490X,5,Age of War (Super Bolan #90),Don Pendleton,2003,Gold Eagle
4,2110,0151008116,5,Life of Pi,Yann Martel,2002,Harcourt
50,2110,0515136557,3,The Cat Who Brought Down the House,Lilian Jackson Braun,2004,Jove Books
84,2110,0688047211,1,The Lives of John Lennon,Albert Goldman,1988,Harpercollins

### Get top 10 recommendations for above given userID from the books not already rated by that user

In [157]:
predictions
# Top 10 recommendation for userid 2110 from books not already rated

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
1192,0345370775,Jurassic Park,Michael Crichton,1999,Ballantine Books
6184,0345384911,Crystal Line,Anne McCaffrey,1993,Del Rey Books
5458,043935806X,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic
455,044021145X,The Firm,John Grisham,1992,Bantam Dell Publishing Group
2031,0451151259,Eyes of the Dragon,Stephen King,1988,Penguin Putnam~mass
5383,0439139597,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,Scholastic
3413,0439064872,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000,Scholastic
976,0380759497,Xanth 15: The Color of Her Panties,Piers Anthony,1992,Eos
2435,0345353145,Sphere,MICHAEL CRICHTON,1988,Ballantine Books
6048,0451167317,The Dark Half,Stephen King,1994,Signet Book